
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700');
body {margin:0;
      font-family: 'Anonymous Pro', monospace;
      background-color:#DFE0E2;
    }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px 3px 3px 3px;
    max-width:80%;
    padding-bottom:5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    display: block;
    width: 100%;
    background-color:#EDEDED;
}

.card_line{
margin-right:5px;
}

.card_image{
  border-radius:6px 6px 0px 0px;
  width: 100%;
  height: 100%;
  }

.c_head{
    color:#23D3A1;
    font-size: 18px;
    font-weight:bold;
    text-align:left;
}

.c_par {
    color: #57555A;
    text-align:left;
}

/* Add some padding inside the card container */.container {
    padding: 2px 4px;
    min-width: 140px;
    width: 100%;
    overflow-x:overlay;
    display:inline-table;
    height:125px;
}

/*/////////////////////////////////////////////////////////////////*/
.top{
  padding:50px; 
}

.bottom{
  padding:50px; 
}

.top_head{
  font-weight:200; 
  color:#455A64; 
  font-size:20px;
  line-height:10px;
}

.top_icon{
  margin-top:15px;/*for old browsers*/
}

.add {cursor:pointer;}
#opt {cursor:pointer;}
#element1 {float:left;} 
#element2 {padding-right:45px;float:right;}

.top_bar{
    -webkit-box-shadow: 0px 0px 24px 1px rgba(87,86,87,0.57);
    -moz-box-shadow: 0px 0px 24px 1px rgba(87,86,87,0.57);
    box-shadow: 0px 0px 24px 1px rgba(87,86,87,0.57);
    background-color: #DFE0E2;
    position: fixed;
    top:0;
    width: 100%;
    padding:7px 20px;
    z-index:2;
}



li {
    text-decoration: none;
    display:inline-block;
}
li a {
    display:block;
    text-align: center;
    padding: 8px 24px;
    text-decoration: none;
}

li a:hover:not(.active) {
    transition:5s;
    transform:translateY(-1px);
    color:#6A676D;/*grey*/
}

.active {
    color:#455A64; 
}


/*/////////////////////////////////////////////////////////////////*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#FAFAFA;
    overflow-x: scroll;
    transition: 0.2s;
    padding-top: 60px;
    margin-top:45px;
    text-align:center;
    box-shadow: 1px 0px 14px -2px rgba(0,0,0,0.66);
}

.sidenav a {
    text-decoration: none;
    font-size:11;
    color:#04E762/*main*/;
}

.sidenav p {
    font-size:8;
    color:#6A676D;
}

.sidenav h1 {
   font-weight:100;
   font-size:20px;
   color:#57555A;
   transform: translateY(15px);
   margin-top:15px; fallback /*for old browsers*/
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .img{
    max-height:100%;
    max-width:100%;
    filter: blur(10px);
    transform: scale(2);
    margin:0px;
}

.sidenav .contain{
    max-height:100%;
    max-width:100%;
    margin:0px;
    overflow: hidden;
    position:relative;
    margin-top:-60px;
}

.sidenav table, th, td {
    border:none;
    color:#6A676D;
    padding-top:15px;
}

.sidenav .btn {
  -webkit-box-shadow: 0px 1px 2px #a6a6a6;
  -moz-box-shadow: 0px 1px 2px #a6a6a6;
  box-shadow: 0px 1px 2px #a6a6a6;
  color:#DFE0E2;
  font-size: 18px;
  background: #23D3A1;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*/////////////////////////////////////////////////////////////////*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #23D3A1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*/////////////////////////////////////////////////////////////////*/
/*@media (min-width: 600px) /*full site{
  
/*  .top_bar {
    display: none;
  }

  .bot_bar {
    position: fixed;
    top:0;
    width: 100%;
    padding:5px 1px;
    height:55px;
}

  .bot_bar p{
    color:white;
    display:block;
    font-size: 18px;
    font-weight:bold;
    line-height:10px;
} 

  .bot_bar p(.active){
    color:#04E762;
}

  .bot_bar a{
    line-height:10px;
} 


  .bot_bar svg{
    display: none;
} 
  .top_head{
    line-height:0;
  }*/
}
